<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Application logs: override with APP_LOG_LEVEL=DEBUG (or TRACE) without touching this file -->
    <logger name="com.andriosol.andriodocpro" level="${APP_LOG_LEVEL:-INFO}"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
